<footer>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <a href="index.html" class="mb-4 d-inline-block"> <img src="https://firebasestorage.googleapis.com/v0/b/angular-78b50.appspot.com/o/img%2Flogo.png?alt=media&token=88b267c4-2938-4d97-936e-d2a98b7dfee5" alt="Vex" width="100px"> </a>
            <ul class="list-inline footer-menu">
              
              <li class="list-inline-item">
                <a href="blog.html">Blog</a>
              </li>
              
              <li class="list-inline-item">
                <a href="contact.html">Liên hệ</a>
              </li>
              
              <li class="list-inline-item">
                <a href="terms-conditions.html">Điều khoản &amp; điều kiện</a>
              </li>
              
              <li class="list-inline-item">
                <a href="privacy-policy.html">Chính sách bảo mật</a>
              </li>
              
            </ul>
            <p class="copyright-text">Copyright &copy; 2021, Designed &amp; Developed By <a href="">Apple</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>