<header class="navigation sticky-top bg-white">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index.html"> <img src="https://firebasestorage.googleapis.com/v0/b/angular-78b50.appspot.com/o/img%2Flogo.png?alt=media&token=88b267c4-2938-4d97-936e-d2a98b7dfee5" alt="Vex" width="100px">
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse text-center" id="navigation">
          <ul class="navbar-nav ml-auto mr-n0 mr-md-n3">
  
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin">Dashboard</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/product-list">Product List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Support</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#!" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tài khoản: Vy Quân <i class="tf-ion-chevron-down"></i></a>
              <ul class="dropdown-menu" aria-labelledby="dropdown03">
                <li><a class="dropdown-item" routerLink="/">Đăng xuất</a></li>
                <li><a class="dropdown-item" routerLink="/">Thông tin TK</a></li>
              </ul>
            </li>
  
          </ul>
  
        </div>
      </nav>
    </div>
  </header>
